#ember-testing-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  overflow: auto;
  z-index: 9999;
  border: 1px solid #ccc;
  background: white; 
}
#ember-testing {
  zoom: 50%;
}
